In [1]:
%pip install matplotlib

Collecting matplotlib
  Downloading matplotlib-3.7.0-cp310-cp310-macosx_10_12_x86_64.whl (7.4 MB)
     |████████████████████████████████| 7.4 MB 3.5 MB/s eta 0:00:01
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting pyparsing>=2.3.1
  Downloading pyparsing-3.0.9-py3-none-any.whl (98 kB)
     |████████████████████████████████| 98 kB 3.6 MB/s eta 0:00:01
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.7-cp310-cp310-macosx_10_9_x86_64.whl (244 kB)
     |████████████████████████████████| 244 kB 3.7 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.7 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from matplotlib) (2.8.2)
Collecting packaging>=20.0
  Using cached packaging-23.0-py3-none-any.whl (42 kB)
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-macosx_10_9_x86_64.whl (65 kB)
     |████████████████████████████████| 65 kB 2.8 MB/s eta 0:00:01
Collecting pillow>=6.2.0
  Downloading Pillow-9.4.0-2-cp310-cp310-macosx_10_10_x86_64.whl (3.3 MB)
     |████████████████████████████████| 3.3 MB 100 kB/s eta 0:00:01
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     |████████████████████████████████| 965 kB 3.5 MB/s eta 0:00:01
Collecting numpy>=1.20
  Downloading numpy-1.24.2-cp310-cp310-macosx_10_9_x86_64.whl (19.8 MB)
     |████████████████████████████████| 19.8 MB 3.4 MB/s eta 0:00:01
Requirement already satisfied: six>=1.5 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Installing collected packages: numpy, pyparsing, pillow, packaging, kiwisolver, fonttools, cycler, contourpy, matplotlib
Successfully installed contourpy-1.0.7 cycler-0.11.0 fonttools-4.38.0 kiwisolver-1.4.4 matplotlib-3.7.0 numpy-1.24.2 packaging-23.0 pillow-9.4.0 pyparsing-3.0.9
WARNING: You are using pip version 21.2.4; however, version 23.0.1 is available.
You should consider upgrading via the '/Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install pandas

Collecting pandas
  Downloading pandas-1.5.3-cp310-cp310-macosx_10_9_x86_64.whl (12.0 MB)
     |████████████████████████████████| 12.0 MB 1.9 MB/s eta 0:00:01
Collecting pytz>=2020.1
  Downloading pytz-2022.7.1-py2.py3-none-any.whl (499 kB)
     |████████████████████████████████| 499 kB 3.7 MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2.8.1 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-1.5.3 pytz-2022.7.1
WARNING: You are using pip version 21.2.4; however, version 23.0.1 is available.
You should consider upgrading via the '/Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [3]:
%pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.2-py3-none-any.whl (293 kB)
     |████████████████████████████████| 293 kB 2.0 MB/s eta 0:00:01
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from seaborn) (3.7.0)
Requirement already satisfied: pandas>=0.25 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from seaborn) (1.5.3)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from seaborn) (1.24.2)
Requirement already satisfied: pyparsing>=2.3.1 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.4.0)
Requirement already satisfied: packaging>=20.0 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.0)
Requirement already satisfied: python-dateutil>=2.7 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: cycler>=0.10 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: contourpy>=1.0.1 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: pytz>=2020.1 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from pandas>=0.25->seaborn) (2022.7.1)
Requirement already satisfied: six>=1.5 in /Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.12.2
WARNING: You are using pip version 21.2.4; however, version 23.0.1 is available.
You should consider upgrading via the '/Users/robsontrajano/Documents/GitHub/hands_on_data_science/analyzing-employee-data-workspace/bin/python -m pip install --upgrade pip' command.
Note: you may need to restart the kernel to use updated packages.

In [4]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

sns.set_style('darkgrid')

In [2]:
df = pd.read_csv('../files/employees.csv')

In [10]:
df.head()

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,SalesTerritoryKey,FirstName,LastName,MiddleName,NameStyle,Title,...,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,StartDate,EndDate,Status
0,1,18.0,14417807,NaN,11,Guy,Gilbert,R,0,Production Technician - WC60,...,1,12.4500,21,30,1,0,Production,1/28/2006,NaN,Current
1,2,7.0,253022876,NaN,11,Kevin,Brown,F,0,Marketing Assistant,...,2,13.4615,42,41,1,0,Marketing,8/26/2006,NaN,Current
2,3,14.0,509647174,NaN,11,Roberto,Tamburello,NaN,0,Engineering Manager,...,2,43.2692,2,21,1,0,Engineering,6/11/2007,NaN,Current
3,4,3.0,112457891,NaN,11,Rob,Walters,NaN,0,Senior Tool Designer,...,2,29.8462,48,80,1,0,Tool Design,7/5/2007,12/28/2009,NaN
4,5,3.0,112457891,NaN,11,Rob,Walters,NaN,0,Senior Tool Designer,...,2,29.8462,48,80,1,0,Tool Design,12/28/2009,NaN,Current

In [6]:
df.isna().sum()

EmployeeKey                               0
ParentEmployeeKey                         1
EmployeeNationalIDAlternateKey            0
ParentEmployeeNationalIDAlternateKey    296
SalesTerritoryKey                         0
FirstName                                 0
LastName                                  0
MiddleName                               13
NameStyle                                 0
Title                                     0
HireDate                                  0
BirthDate                                 0
LoginID                                   0
EmailAddress                              0
Phone                                     0
MaritalStatus                             0
EmergencyContactName                      0
EmergencyContactPhone                     0
SalariedFlag                              0
Gender                                    0
PayFrequency                              0
BaseRate                                  0
VacationHours                             0
SickLeaveHours                            0
CurrentFlag                               0
SalesPersonFlag                           0
DepartmentName                            0
StartDate                                 0
EndDate                                 290
Status                                    6
dtype: int64

In [11]:
df.columns

Index(['EmployeeKey', 'ParentEmployeeKey', 'EmployeeNationalIDAlternateKey',
       'ParentEmployeeNationalIDAlternateKey', 'SalesTerritoryKey',
       'FirstName', 'LastName', 'MiddleName', 'NameStyle', 'Title', 'HireDate',
       'BirthDate', 'LoginID', 'EmailAddress', 'Phone', 'MaritalStatus',
       'EmergencyContactName', 'EmergencyContactPhone', 'SalariedFlag',
       'Gender', 'PayFrequency', 'BaseRate', 'VacationHours', 'SickLeaveHours',
       'CurrentFlag', 'SalesPersonFlag', 'DepartmentName', 'StartDate',
       'EndDate', 'Status'],
      dtype='object')

In [12]:
df.drop(['ParentEmployeeKey', 'EmployeeNationalIDAlternateKey', 'ParentEmployeeNationalIDAlternateKey'], axis=1, inplace=True)

In [13]:
df.head()

,EmployeeKey,SalesTerritoryKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,BirthDate,LoginID,...,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,StartDate,EndDate,Status
0,1,11,Guy,Gilbert,R,0,Production Technician - WC60,1/28/2006,11/12/1981,adventure-works\guy1,...,1,12.4500,21,30,1,0,Production,1/28/2006,NaN,Current
1,2,11,Kevin,Brown,F,0,Marketing Assistant,8/26/2006,12/1/1986,adventure-works\kevin0,...,2,13.4615,42,41,1,0,Marketing,8/26/2006,NaN,Current
2,3,11,Roberto,Tamburello,NaN,0,Engineering Manager,6/11/2007,6/12/1974,adventure-works\roberto0,...,2,43.2692,2,21,1,0,Engineering,6/11/2007,NaN,Current
3,4,11,Rob,Walters,NaN,0,Senior Tool Designer,7/5/2007,7/23/1974,adventure-works\rob0,...,2,29.8462,48,80,1,0,Tool Design,7/5/2007,12/28/2009,NaN
4,5,11,Rob,Walters,NaN,0,Senior Tool Designer,7/5/2007,7/23/1974,adventure-works\rob0,...,2,29.8462,48,80,1,0,Tool Design,12/28/2009,NaN,Current

In [14]:
# export csv file
df.to_csv('../files/employees_clean.csv', index=False)